server:
  port: 8081

spring:
  application:
    name: inventory-service
  autoconfigure:
    exclude:
      - org.springframework.boot.actuate.autoconfigure.metrics.SystemMetricsAutoConfiguration
      - org.springframework.boot.actuate.autoconfigure.tracing.otel.OtelAutoConfiguration
      - org.springframework.boot.actuate.autoconfigure.tracing.zipkin.ZipkinAutoConfiguration

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus

  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    root: INFO