server:
  port: 8082

spring:
  application:
    name: payment-service
  autoconfigure:
    exclude:
      - org.springframework.boot.actuate.autoconfigure.metrics.SystemMetricsAutoConfiguration

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus

  metrics:
    export:
      prometheus:
        enabled: true